/* GENERAL  */
body
{
  /* margin: 0%;
  padding: 0% */
}

/* OUTLINE */

.container
{
    /* background-image: url('what-the-hex-dark.png'); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: left;
    grid-gap: 1%;
    grid-column: 1/-1;
}

.body1
{
  display: grid;
  grid-template-columns: 1/-1;
  grid-template-rows: 1fr 1fr;
  text-align: left;
  height: 100vh
    /* background-image: url('what-the-hex-dark.png'); */
}

.main-nav
{
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 0.05fr 0.05fr 0.08fr 0.05fr 0.05fr;
  grid-gap: 1%;
  padding-top: 1%;
  padding-right: 2%;
}

.mainP
{
  display: grid;
  justify-content: flex-start;
  grid-template-rows: 0fr 0fr;
  padding-left: 5%;
}

.body2
{
  display: grid;
  grid-template-columns: 1/-1;
  grid-template-rows: 0fr 0fr;
  text-align: left;
  height: 100vh
    /* background-image: url('what-the-hex-dark.png'); */
}

.body3
{
  display: grid;
  grid-template-columns: 1/-1;
  grid-template-rows: 1fr 1fr;
  text-align: left;
  height: 100vh
    /* background-image: url('what-the-hex-dark.png'); */
}

.body4
{
  display: grid;
  grid-template-columns: 1/-1;
  grid-template-rows: 1fr 1fr;
  text-align: left;
  height: 100vh
    /* background-image: url('what-the-hex-dark.png'); */
}
